@{
}

<div class="p-5">

    <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modal-inputs-form"> Modal com inputs </button>
    <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modal-confirmacao"> Modal de confirmação </button>
    <button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modal-stepper"> Modal com stepeer </button>

</div>




<partial name="~/Views/Shared/Componentes/Modals/_ModalInputs.cshtml">
<partial name="~/Views/Shared/Componentes/Modals/_ModalConfirmacao.cshtml">
<partial name="~/Views/Shared/Componentes/Modals/_ModalStepper.cshtml">
