@{
    ViewData["Title"] = "Home Page";
}

<div id="app"></div>

<script type="module">

    //components
    import { Carousel } from "/js/components/Carousel.js";
    import { ErroComponent } from '/js/components/ErroComponent.js';
    import { Footer } from "/js/components/Footer.js";
    import { ListCards } from "/js/components/ListCards.js";
    import { Maps } from "/js/components/Maps.js";
    import { ModalGeneric } from "/js/components/ModalGeneric.js";
    import { Navbar } from "/js/components/Navbar.js";
    import { Root } from "/js/components/Root.js";
    import { Spinner } from "/js/components/Spinner.js";
    //pages
    import { Home } from '/js/pages/Home.js';
    import { Detail } from "/js/pages/Detail.js";
    import { Erro } from "/js/pages/Erro.js";

    const routes = [
        { path: '/', name: 'Home', component: Home },
        { path: '/detail', name: 'Detail', component: Detail },
        { path: '/Erro/:codigoErro', name: 'Erro', component: Erro },
    ]

    const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes
    })

    const app = Vue.createApp(Root);

    //components
    app.component('carousel', Carousel);
    app.component('erro-component', ErroComponent);
    app.component('list-cards', ListCards);
    app.component('maps', Maps);
    app.component('modal-generic', ModalGeneric);
    app.component('navbar', Navbar);
    app.component('spinner', Spinner);
    app.component('footer-view', Footer);
    //pages
    app.component('home', Home);
    app.component('detail', Detail);
    app.component('erro', Erro);

    app.use(router)
    app.use(VueToast.ToastPlugin);
    app.mount('#app')
</script>
