
<div class="modal fade" id="modal-confirmacao" aria-hidden="true">
    <div class="modal-dialog size-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">


                <!-- Inicio conteúdo do modal -->
                <div class="d-flex align-items-center">
                    <img class="me-3" src="~/imgs/ic-info-red.svg" />
                    <p class="modal-title"> Finalizar ligação </p>
                </div>

                <div class="mt-3">
                    <p class="modal-subtitle"> Tem certeza que deseja finalizar a ligação? </p>
                </div>

                <!-- Botões padrões do rodapé -->
                <div class="row mt-3">
                    <div class="col">
                        <a href="#" class="btn btn-sm btn-secondary-gray w-100" data-bs-dismiss="modal"> Cancelar </a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-sm btn-primary w-100"> Ok </button>
                    </div>
                </div>
                <!-- Fim conteúdo do modal -->


            </div>
        </div>
    </div>
</div>