
<div class="modal fade" id="modal-inputs-form" aria-hidden="true">
    <div class="modal-dialog size-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">


                <!-- Inicio conteúdo do modal -->
                <div class="d-flex align-items-center">
                    <img class="me-3" src="~/imgs/ic-info-blue.svg" />
                    <p class="modal-title"> Titulo do modal </p>
                </div>

                <div class="mt-3">
                    <p class="modal-subtitle"> Texto alternativo e explicativo do modal </p>
                </div>

                <div class="mb-3">
                    <label class="form-label"> Select </label>
                    <select name="" id="" class="form-select">
                        <option value="1"> Campanha 01 </option>
                        <option value="2"> Campanha 02 </option>
                    </select>
                </div>
                
                <div class="form-group mb-3">
                    <label class="form-label"> Input valor </label>
                    <div class="input-group">
                        <span class="input-group-text"> R$ </span>
                        <input type="text" class="form-control" name="" placeholder="Ex: R$ 50.468,526">
                    </div>
                </div>

                <!-- Botões padrões do rodapé -->
                <div class="row mt-3">
                    <div class="col">
                        <a href="#" class="btn btn-sm btn-secondary-gray w-100" data-bs-dismiss="modal"> Cancelar </a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-sm btn-primary w-100"> Ok </button>
                    </div>
                </div>
                <!-- Fim conteúdo do modal -->


            </div>
        </div>
    </div>
</div>