<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/b77cc666-16be-4456-9bf9-f7e1b30baa56/resourceGroups/GerenciadorEventos/providers/Microsoft.ApiManagement/service/GerenciadorEventosapi/apis/GerenciadorEventos</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/b77cc666-16be-4456-9bf9-f7e1b30baa56/resourceGroups/GerenciadorEventos/providers/Microsoft.Web/sites/gerenciadorEventos</ResourceId>
    <ResourceGroup>GerenciadorEventos</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://gerenciadoreventos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>02bcdf35-d3ce-4d0d-8dbf-9487137e760a</ProjectGuid>
    <PublishUrl>https://gerenciadoreventos.scm.azurewebsites.net/</PublishUrl>
    <UserName>$gerenciadorEventos</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>