.form-label {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 18px;
    color: #4D5858;
}

.input-group-text {
    font-size: 14px;
    color: #0A0A0A;
    font-family: 'Lato';
    font-weight: 600;
    background: #DBDEDE;
    padding: 4px;
}