.modal {
	font-family: 'Lato';
	border-radius: 2px;
	box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);


	.size-sm {
		max-width: 416px;
	}

	.modal-body {
		padding: 32px 32px 24px 32px;
	}

	.modal-title {
		margin: 0;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
	}

	.modal-subtitle {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
	}
}
